.btn {
  padding: 10px;

  width: 100px;
}

.modalBtn {
  display: flex;

  margin: 20px auto 0px auto;
  padding: 10px;
}

.btnPages {
  padding: 10px;

  width: 40px;
}

.btnPages_current {
  padding: 10px;

  width: 40px;

  background-color: aqua;
}
